html {
    min-width: 300px;
}

body {
    background-color: #F4F4F4;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0;
}

.title img {
    width: 30px;
    margin-right: 15px;
}

.container {
    text-align: center;
    font-size: 2em;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

select {
    padding: 5px;
    border-radius: 5px;
}

.button {
    margin-top: 15px;
    background-color: white;
    border-radius: 5px;
    border: 2px solid #f44336;
    color: #f44336;
    font-weight: bold;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

.button:hover {
    background-color: #fd6f68;
    border: 2px solid #fd6f68;
    color: white;
}
